{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">

      <div class="section-content">
        <h2>Watch space occupancy data come to life</h2>
        <p>
          This is a project page for interactive space occupancy data visualizations.
          Choose “Continue as a guest” to see a sample app which showcases the possibilities of occupancy data viz by visualizing randomly generated datasets.
          Choose “Login with credentials” to check out tailored data visualizations made from your own real datasets.
          </p>
        <a href="/dashboard1" class="btn btn-default">Continue as a guest</a>
        <a href="/dashboard2" class="btn btn-default">Login with your credentials</a>
      </div>



    </div>
  </main>
{% endblock %}
