{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">

      <div class="section-content">
        <h2>Watch space occupancy data come to life</h2>
        <p>
          This is a project page for interactive space occupancy data visualizations.</p>
          <ul>
            <li>Choose “Check out a standard dashboard” to see a sample app which
              showcases the possibilities of occupancy data visualization as
              it visualizes randomly generated datasets.</li>
            <li>Choose “Login for personalized solutions” to see customized data
              visualizations made for your own real datasets. To ensure data protection,
              you will be asked to enter your username and password.</li>
          </ul>
        <a href="/dashboard1" class="btn btn-default">Check out a standard dashboard</a>
        <a href="#" class="btn btn-default">Login for personalized solutions</a>
      </div>



    </div>
  </main>
{% endblock %}
